body{
    background-color: #ECF2FF;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    padding-bottom: 100px;
    justify-content: center;
    /* background-image: url(images/image-qr-code.png); */
    background-color: #fff;
    width: 400px;
    height: 550px;
    /* width: 350px;
    height: 400px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* padding: 5px 15px 15px 15px; */
    background-repeat: no-repeat;
    border-radius: 5%;
    
}
.imge{
    padding: 50px 50px 50px 50px;
    border-radius: 20%;
    /* justify-content: center;
    text-align: center;
     */
   
    /* padding-right: 50px; */
}
h2{
    float: bottom;
    text-align: center;
}
span{
    text-align: center;
    
}
p{
    
    color:#6B728E;
    margin: 0 50px 0 50px;
    text-align: center;
    padding-left: 40px;
}
.p1{
    margin-left: auto;
    margin-right: auto;
    width: 5rem
   

}